* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.contact-list > h1 {
  color: #ea1d6f;
}

.contact-list {
  /* background: #ea1d6f; */
  background: #3e3e3e;
  color: #fff;
  border-radius: 5px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 15px 10px;

  font-size: 15px;
}

.contact-card-container {
  border-bottom: 1px solid #585154;
}

.name {
  font-weight: 700;
}

.trash {
  position: relative;
  left: 90%;
  top: -30px;
  width: 20px;
}

.trash:hover {
  cursor: pointer;
}

.userImage {
  height: 40px;
  width: 40px;
  float: left;
  margin: 0 10px 0 10px;
}

.addContact {
  width: 100px;
  height: 40px;
  background: #4d4949;
  color: rgb(243, 243, 243);
  cursor: pointer;
}

.addContact:hover {
  border: 1px solid #fff;
  background: transparent;
}

a {
  text-decoration: none;
  color: #fff;
}
